
/* Secret Agent Supply, Inc. CSS Stylesheet */

html {
  font-size: 18px;
}

body {
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  text-transform: uppercase;
  padding: 0.66rem 0;

}

header .container {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

}

header h1 {
  display: inline-block;
}

/* Main Feature Section */

.main-feature {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.feat-title {
  position: relative;
  top: 9em;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
}

h2.headline {
  font-size: 2rem;
  margin-top: 0.25rem;
}

/* Navigation */

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav a {
  color: white;
  text-decoration: none;

}

/* Featured Products Section */

.feat-prods {

}

.product {

}

.prod-name {

}

#pen {

}

#pen img {

}

#watch {

}

#watch img {

}

#glasses {

}

#glasses img {

}

/* Store Info Section */

.store-info {

}

.location {

}

.hours{

}

.title {

}

.detail {

}

/* Footer */

footer {

}

/* Media Queries */

@media only screen and (max-width: 960px) {

}
